@media screen and (max-width: 1200px) and (min-width: 993px) {
	.container{
		width: 955px;
	}
	.main-content__text{
		font-size: 39px;
	}
	.services-item{
		width: 23%;
	}
	.photo-item_last{
		margin: 0px 26px 30px 0px;
	}
	.video__right-column_size{
		width: 500px;
    	height: 360px;
	}
	.twitter-content{
		text-align: center;
	}
	.about__left-column{
		width: 48%;
	}
	.form__bottom{
		width: 95%;
	}
}

@media screen and (max-width: 992px) and (min-width: 769px) {
	.container{
		width: 730px;
	}
	.main-content__text{
		font-size: 39px;
	}
	.services-item{
		width: 23%;
	}
	.portfolio-nav__item{
		margin-left: 15px;
	}
	.portfolio-photo{
		text-align: center;
	}
	.photo-item_last{
		margin: 0px 26px 30px 0px;
	}
	.video__left-column{
		display: block;
		width: 100%;
	}
	.video__right-column{
		margin-top: 40px;
    	position: relative;
    	left: 50%;
    	margin-left: -300px;
	}
	.about__left-column{
		width: 100%;
		margin-right: 0px;
	}
	.about__right-column{
		width: 100%;
	}
	.about-john-content{
		text-align: center;
	}
	.form__bottom{
		width: 95%;
	}
}

@media screen and (max-width: 768px) and (min-width: 480px) {
	.container{
		width: 95%;
	}
	.logo{
		display: block;
	}
	.header-top{
		text-align: center;
	}
	.menu{
		float: none;
	}
	.menu__item{
		margin-left: 0px;
		padding-top: 25px;
	}
	.main-content__text{
		font-size: 29px;
	}
	.services-item{
		width: 45%;
		margin-bottom: 25px;
	}
	.portfolio-nav{
		float: none;
		margin-top: 10px;
		text-align: center;
	}
	.portfolio-nav__item{
		margin-left: 0px;
		float: none;
		display: inline-block;
	}
	.portfolio-photo{
		text-align: center;
	}
	.photo-item_last{
		margin: 0px 26px 30px 0px;
	}
	.video__left-column{
		display: block;
		width: 100%;
	}
	.video__right-column{
		margin-top: 40px;
    	position: relative;
    	left: 50%;
    	margin-left: -222px;
	}
	.video__right-column_size{
		width: 440px;
   		height: 260px;
	}
	.twitter-content__text{
		font-size: 20px;
	}
	.about__left-column{
		width: 100%;
		margin-right: 0px;
	}
	.about__right-column{
		width: 100%;
	}
	.about-john-content{
		text-align: center;
	}
	.testimonials-content__text{
		font-size: 20px;
	}
	.feedback__left-column{
		width: 100%;
	}
	.feedback__right-column{
		width: 100%;
		margin-bottom: 20px;
	}
	.form__bottom{
		width: 92%;
	}
	.form__submit{
		width: 50%;
	}
}

@media screen and (max-width: 479px) and (min-width: 320px) {
	.container{
		width: 95%;
	}
	.header-top{
		text-align: center;
		padding: 30px 0px
	}
	.menu{
		display: block;
		float: none;
	}
	.menu__item{
		float: none;
		margin-left: 0px;
	}
	.menu__item_icon{
		font-size: 20px;
	}
	.menu li:not(:first-child) {
		display: none;
	}
	.menu li:first-child{
    	float: left;
  	}
	.menu li:last-child{
    	float: right;
    	display: block;
  	}
	.menu.responsive {
		position: relative;
	}
  	.menu.responsive .menu__item_bars {
    	position: absolute;
    	right: 0;
    	top: 0;
  	}
  	.menu.responsive li {
    	float: none;
    	display: block;
    	text-align: left;
  	}
	.menu__link{
		border: none;
		outline: none;
	}
	.menu__link:hover{
		border:none;
	}
	.slicknav_nav a:hover{
		color: #4bcaff;
		background: none;
	}
	.header-center{
		padding: 100px 0px;
	}
	.main-content__text{
		font-size: 25px;
	}
	.services-item{
		width: 100%;
		margin-right: 0px;
		margin-bottom: 25px;
		text-align: center;
	}
	.portfolio-nav{
		float: none;
		text-align: center;
	}
	.portfolio-nav__item{
		float: none;
		margin-left: 0px;
		padding-top: 15px;
	}
	.portfolio-photo{
		text-align: center;
		margin-top: 20px;
	}
	.portfolio-photo__item{
		margin:  0px 0px 30px 0px;
	}
	.photo-item_last{
		margin:  0px 0px 30px 0px;
	}
	.video__left-column{
		width: 100%;
    	margin-right: 0px;
	}
	.video__right-column{
		margin-top: 40px;
    	position: relative;
    	left: 50%;
    	margin-left: -142px;
	}
	.video__right-column_size{
		width: 280px;
    	height: 200px;
	}
	.twitter-content__text{
		font-size: 20px;
	}
	.about__left-column{
		width: 100%;
		margin-right: 0px;
	}
	.about__right-column{
		width: 100%;
	}
	.about-john-content{
		text-align: center;
	}
	.icon-styles{
		margin-right: 3px;
	}
	.testimonials-content__text{
		font-size: 20px;
	}
	.feedback__left-column{
		width: 100%;
	}
	.feedback__right-column{
		width: 100%;
		margin-bottom: 20px;
	}
	.form__bottom{
		width: 92%;
	}
	.form-input__left{
		width: 90%;
	}
	.form__submit{
		width: 100%;
	}
	.footer-nav__item{
		padding-right: 8px;
    	margin-right: 8px;
	}
	.сopyright{
		display: none;
	}
}
