.container{
	width: 1170px;
	margin: 0 auto;
}
.clearfix:after{
    content: '';
    clear: both;
    display: table;
}
.slicknav_menu{
	display: none;
}
figure{
	display: inline-block;
}
/*------general style blocks-----*/
.block-name{
	font-family: "Segoe UI";
	font-size: 30px;
	text-transform: uppercase;
	font-weight: lighter;
}
.block-name__line{
	height: 2px;
	width: 45px;
	border: none;
	margin-top: 10px;
}
/*------end general style blocks-----*/

/*-----header------*/
.header{
	background: url('../images/header-img.png')no-repeat center center;
	background-size: cover;
}
.header-top{
	background: rgba(73, 84, 91, 0.84);
	padding: 40px 0px;
}
.logo{
	display: inline-block;
}
.menu{
	display: inline-block;
	float: right;
}
.menu__item{
	display: inline-block;
	margin-left: 30px;
	padding-top: 5px;
}
.menu__item_bars{
	display: none;
}
.menu__link{
	display: block;
	text-decoration: none;
	border:2px solid rgba(255,255,255,0);
	padding: 10px;
	color: #fff;
	font-family: "Segoe UI";
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
.menu__link:hover{
	color: #4bcaff;
	border-color:#4bcaff;
}
.header-center{
	padding: 240px 0px;
	text-align: center;
}
.main-content__text{
	color: #fff;
	font-family: "Segoe UI";
	font-weight: lighter;
	font-size: 42px;
	text-transform: uppercase;
	display: block;
	margin-bottom: 11px;
}
.main-content__text_wrap{
	display: inline-block;
	padding: 17px 25px;
	background-color: #4a555d;
}
/*-----header-end----*/

/*-----services-------*/
.services{
	background-color: #4bcaff;
	padding: 80px 0px;
}
.services__block-name{
	color: #fff;
}
.services__line_styles{
	background-color: #fff;
}
.services-list{
	padding-top: 40px;
}
.services-item{
	display: inline-block;
	width: 24%;
	margin-right: 11px;
}
.services-item__title{
	display: block;
	color: #fff;
	font-family: "Segoe UI";
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 25px 0px 25px;
}
.services-item__text{
	color: #fff;
	font-family: "Segoe UI";
	font-size: 12px;
	font-weight: bold;
}
.services-item_last{
	margin: 0px;
}
/*------end services-------*/

/*-----portfolio--------*/
.portfolio{
	padding: 80px 0px;
}
.portfolio__block-name{
	color: #515f67;
	display: inline-block;
}
.portfolio__line_styles{
	background-color: #515f67;
}
.portfolio-nav{
	float: right;
}
.portfolio-nav__item{
	float: left;
	margin-left: 40px;
	padding-top: 12px;
}
.portfolio-nav__link{
	text-decoration: none;
	opacity: .9;
	color: #515f67;
	font-family: "Segoe UI";
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border:2px solid rgba(255,255,255,0);
	padding: 10px;
}
.portfolio-nav__link:hover{
	color: #4bcaff;
	border-color:#4bcaff;
}
.portfolio-photo{
	margin-top: 80px;
}
.portfolio-photo__item{
	margin: 0px 26px 30px 0px;
	cursor: pointer;
}
.portfolio-photo__item:hover{
	background-image:url('../images/hover-photo.png');
}
.photo-item_last{
	margin-right: 0px
}
/*-----end portfolio-----*/

/*-----video block--------*/
.video-block{
	background-color: #515f67;
	padding: 80px 0px;
}
.video__block-name{
	color: #fff;
	margin-bottom: 40px;
}
.video__line_styles{
	background-color: #fff;
}
.video__left-column{
	display: inline-block;
	width: 40%;
	vertical-align: top;
	margin-right: 58px;
}
.video__right-column{
	display: inline-block;
}
.video__right-column_size{
	width: 640px; 
	height: 360px; 
}
.video-text__paragraph{
	color: #fff;
	font-family: "Segoe UI";
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 40px;
}
.button__text{
	color: #353f46;
	font-family: "Segoe UI";
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	border:2px solid #353f46;
	padding: 15px 38px;
}
/*-----end video block------*/

/*------twitter-------*/
.twitter{
	background-color: #4bcaff;
	padding: 80px 0px;
}
.twitter__block-name{
	color:#fff;
	margin-bottom: 40px;
	display: inline-block;
}
.twitter__line_styles{
	background-color: #fff;
}
.twitter-content__text{
	color: #fff;
	font-family: "Segoe UI";
	font-size: 28px;
	font-weight: lighter;
	line-height: 1.5;
}
.twitter-content__text_bold{
	font-weight: bold;
}
.twitter__icon-block{
	display: inline-block;
	float: right;
}
.twitter-icon{
	color: #fff;
	font-size: 30px;
}
/*------end twitter----*/

/*-------about john----*/
.about-john{
	background: url('../images/bg-photo.png')no-repeat center center;
	background-size: cover; 
	padding: 100px 0px 175px 0px;
}
.about-john__block-name{
	color:#fff;
	padding-bottom: 40px;
}
.about-john__line_styles{
	background-color: #fff;
}
.about__left-column{
	display: inline-block;
	width: 49%;
	margin-right: 30px;
}
.about__right-column{
	display: inline-block;
	width: 48%;
	vertical-align: top;
}
.about__text{
	color: #fff;
	font-family: "Segoe UI";
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 35px;
}
.icon-styles{
	color: #fff;
	font-size: 30px;
	border:2px solid #fff;
	padding: 15px;
	margin-right: 20px;
}
/*------end about john----*/

/*------testimonials------*/
.testimonials{
	padding: 80px 0px;
}
.testimonials__block-name{
	color: #515f67;
	display: inline-block;
}
.testimonials__line_styles{
	background-color: #515f67;
}
.testimonials-quotes{
	display: inline-block;
	float: right;
	color: #515f67;
	font-size: 40px;
	font-weight: bold;
}
.testimonials-content__text{
	color: #515f67;
	font-family: "Segoe UI";
	font-size: 26px;
	line-height: 1.5;
	padding: 40px 0px;
}
.testimonials-content__author{
	color: #4bc9ff;
	font-family: "Segoe UI";
	font-size: 14px;
	font-weight: bold;
}
/*------end testimonials------*/

/*--------contact--------*/
.contact{
	background: url('../images/contact-bg.png')no-repeat center center;
	background-size: cover;
	padding: 80px 0px;
}
.contact__block-name{
	color: #fff;
}
.contact__line_styles{
	background-color: #fff;
}
.contact-feedback{
	margin-top: 40px;
}
.feedback__left-column{
	display: inline-block;
	width: 49%;
	vertical-align: top;
}
.feedback__right-column{
	display: inline-block;
	width: 50%;
	padding-top: 15px;
	float: right; 
}
.feedback__right-column_text{
	color: #fff;
	font-family: "Segoe UI";
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5;
}
.feedback_text-top{
	margin-bottom: 40px;	
}
.form-name{
	color: #fff;
	font-family: "Segoe UI";
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.form-input__left{
	width: 70%;
    padding: 12px;
    font-size: 24px;
    margin-bottom: 40px;
    background: transparent;
    border:2px solid #fff;
    outline: none;
    color: #fff;
    font-family: "Segoe UI";
	font-weight: bold;
}
.form__bottom{
	width: 100%;
	background: transparent;
	border:2px solid #fff;
    outline: none;
    color: #fff;
    font-family: "Segoe UI";
	font-weight: bold;
	font-size: 14px;
	padding: 10px;
	margin-bottom: 40px;
}
.form__submit{
	color: #fff;
	font-family: "Segoe UI";
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #4bcaff;
	border:none;
	width: 30%;
	padding: 25px 0px;
	outline: none;
	cursor: pointer;
}
/*-----end contact--------*/

/*------footer--------*/
.footer{
	background-color: #353f47;
	padding: 80px 0px;
}
.footer-nav__item{
	float: left;
	border-right: 2px solid #515f67;
	padding-right: 15px;
	margin-right: 15px;
}
.footer-nav__link{
	text-decoration: none;
}
.footer-nav__text{
	color: #515f67;
	font-family: "Segoe UI";
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
.footer-nav__item_last{
	border:none;
}
.сopyright{
	float: right;
	color: #515f67;
	font-family: "Segoe UI";
	font-size: 12px;
	font-weight: bold;
}
/*-------end footer--------*/