.container{
	width: 1170px;
	margin: 0 auto;
}



/*------general style blocks-----*/
.block-name{
	font-family: "Segoe UI";
	font-size: 30px;
	text-transform: uppercase;
	font-weight: lighter;
	display: inline-block;
}
.block-name__line{
	height: 2px;
	width: 35%;
	border: none;
	margin-top: 10px;
}

/*------end general style blocks-----*/

/*-----header------*/
.header{
	background: url('../images/header-img.png')no-repeat center center;
	background-size: cover;
}
.header-top{
	background-color: #465158;
	opacity: 0.8;
	padding: 60px 0px;
}
.logo{
	display: inline-block;
}
.menu{
	display: inline-block;
	float: right;
}
.menu__item{
	float: left;
	margin-left: 30px;
	padding-top: 5px;
}
.menu__link{
	text-decoration: none;
	border:2px solid rgba(255,255,255,0);
	padding: 10px;
}
.menu__text{
	color: #fff;
	font-family: "Segoe UI";
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
.menu__link :hover{
	color: #4bcaff;
	border:2px solid #4bcaff;
	padding: 10px;
}
.header-center{
	padding: 240px 0px;
	text-align: center;
}
.main-content__text{
	color: #fff;
	font-family: "Segoe UI";
	font-weight: lighter;
	font-size: 42px;
	text-transform: uppercase;
	display: block;
	margin-bottom: 11px;
}
.main-content__text_wrap{
	display: inline-block;
	padding: 17px 25px;
	background-color: #4a555d;
}
/*-----header-end----*/

/*-----services-------*/
.services{
	background-color: #4bcaff;
	padding: 80px 0px;
}
.services__block-name{
	color: #fff;
}
.services__line_styles{
	background-color: #fff;
}
.services-list{
	padding-top: 40px;
}
.services-item{
	display: inline-block;
	width: 24%;
	margin-right: 11px;
}
.services-item__title{
	display: block;
	color: #fff;
	font-family: "Segoe UI";
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 25px 0px 25px;
}
.services-item__text{
	color: #fff;
	font-family: "Segoe UI";
	font-size: 12px;
	font-weight: bold;
}
.services-item_last{
	margin: 0px;
}
/*------end services-------*/

/*-----portfolio--------*/
.portfolio{
	padding: 80px 0px;
}
.portfolio__block-name{
	color: #515f67;
}
.portfolio__line_styles{
	background-color: #515f67;
}
.portfolio-nav{
	float: right;
}
.portfolio-nav__item{
	float: left;
	margin-left: 55px;
	padding-top: 12px;
}
.portfolio-nav__link{
	text-decoration: none;
}
.portfolio-nav__text{
	opacity: .9;
	color: #515f67;
	font-family: "Segoe UI";
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.portfolio-nav__link :hover{
	color: #4bcaff;
	border:2px solid #4bcaff;
	padding: 10px;
}
.portfolio-photo{
	margin-top: 80px;
}
.portfolio-photo__item{
	margin: 0px 26px 30px 0px;
	cursor: pointer;
}
.photo-item_last{
	margin-right: 0px
}
/*-----end portfolio-----*/
